# Dependencies
node_modules
.pnpm-store

# Build output
dist
build

# Version control
.git
.gitignore

# Environment
.env
.env.*

# IDE
.vscode
.idea

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage
.nyc_output

# Misc
.DS_Store
*.swp
*.swo 